

/* Basic styling for the popup */
#formSuccessPopup {
    display: none;
    /* hidden by default */
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: fixed;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
    /* zoom + fade */
    z-index: 9999;
    cursor: pointer;
    /* user can click to close */
}

#formSuccessPopup.show {
    display: flex;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    width: 100vw;
    height: 100vh;
}


.popup-box {
    background: #111;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    animation: popupScale 0.3s ease;
}

.popup-box i {
    font-size: 48px;
    color: #00ff9c;
    margin-bottom: 10px;
}

.popup-box h3 {
    color: #fff;
    margin-bottom: 6px;
}

.popup-box p {
    color: #aaa;
    font-size: 14px;
}

@keyframes popupScale {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}